%h3 Customer List

= form_tag customers_path, :method => 'get', :class => "form-inline" do
  = label_tag "Search in   "
  = select_tag :column_name, options_for_select(%w{ id first_name last_name customer_type}) 
  = label_tag "  for "
  = text_field_tag :search, nil, :placeholder => " ", :class => "input-medium "
  = label_tag "per page:"
  = select_tag :per_page, options_for_select([15,25,50], @per_page.to_i)
  = submit_tag "Go", :name => 'submit', :class => "btn"

%table{:class=> 'table table-striped'}
  %thead
    %tr
      %th ID
      %th First Name
      %th Last Name
      %th Type
      %th Update
      %th Remove
  %tbody
    - @customers.each_with_index do |customer,index|
      %tr
        %td= customer.id
        %td= link_to customer.first_name, customer_path(customer)
        %td= customer.last_name
        %td= customer.customer_type
        %td= link_to 'Update', edit_customer_path(customer)
        %td= button_to "Remove", customer_path(customer), :method => :delete, :confirm => "Customer details will be removed permanently. Are you sure?", :class => "btn btn-mini btn-danger"
= will_paginate @customer, :class => 'apple_pagination'