%h4 Item Cart

%table{:class=> 'table table-striped'}
  %thead
    %tr
      %th ID
      %th Description
      %th Type
      %th Unit Price
      %th Quantity
      %th Total Price
      %th Remove
  %tbody
    - cart.line_items.each do |item|
      - if item == @current_item
        %tr{:id => "current_item"}
      -else
        %tr
      %td= item.product.id
      %td= item.product.description
      %td= item.product.product_type
      %td= item.product.rate
      %td= item.quantity
      %td= item.total_price
      %td= button_to "Remove", item, :method => :delete, :confirm => "Remove Item??", :class => "btn btn-mini btn-danger"

%dl{:class => "dl-horizontal"}
  %dt Sub Total
  %dd= cart.total_price

= button_to "Checkout" , new_order_path, :method => :get, :class => "btn btn-primary"
= button_to 'Empty cart' , cart, :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger"


