%h3 Product List

= form_tag products_path, :method => 'get', :class => "form-inline" do
  = label_tag "Search in   "
  = select_tag "column_name", options_for_select(%w{ id description product_type}) 
  = label_tag "  for "
  = text_field_tag :search, nil, :placeholder => " ", :class => "input-medium "
  = submit_tag "Go", :name => 'submit', :class => "btn"


%table{:class=> 'table table-striped'}
  %thead
    %tr
      %th ID
      %th Description
      %th Type
      %th Remaining Quantity
      %th Rate
      %th Update
      %th Remove
  %tbody
    - @products.each_with_index do |product,index|
      %tr
        %td= product.id
        %td= product.description
        %td= product.product_type
        %td= product.remaining_quantity
        %td= product.rate
        %td= link_to 'Update', edit_product_path(product)
        %td= button_to "Remove", product_path(product), :method => :delete, :confirm => "Product details will be removed permanently. Are you sure?", :class => "btn btn-mini btn-danger"
/ = will_paginate @products, :class => 'apple_pagination'
